@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    min-height: 100vh;
    background: #e7d6a9;
}

.container form {
    padding: 20px;
    width: 700px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}
.row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.row .col {
    flex: 1 1 250px;
}
.title {
    font-size: 20px;
    color: #333;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.inputBox {
    /* border-radius: 30px; */
    margin: 15px 0;
}
.inputBox span {
    margin-bottom: 10px;
    display: block;
}
.inputBox input {
    border-radius: 10px;
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px 15px;
    font-size: 15px;
    text-transform: none;
}
.inputBox input:focus {
    border: 1px solid #000;
}
.flex {
    display: flex;
    gap: 15px;
}
.inputBox {
    border-radius: 10px;  
    margin-top: 5px;
}
.inputBox img {
    height: 34px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px #000);
}
.submit-btn {
    width: 100%;
    padding: 12px;
    font-size: 17px;
    background-color: rgb(236, 209, 132);
    color: #fff;
    margin-top: 5px;
    cursor: pointer;
}
.submit-btn:hover {
    background-color: rgb(231, 195, 96);
}