<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/static/about.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <title>About Us</title>
</head>

<body>
  <section class="about">
    <div class="main">
      <img src="/static/Images/aboutUspageImgage.png" alt="">
      <div class="about-text">
        <h1>About Us</h1> 
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, dolorum exercitationem recusandae
          ducimus ex perspiciatis quia ipsa culpa numquam deserunt nesciunt? Esse impedit alias minus modi velit quis
          tempore autem adipisci maiores itaque a non est excepturi in laudantium iusto, id necessitatibus eius, cumque,
          aliquam aspernatur. Porro praesentium ipsam dolore sint, voluptas magnam delectus nihil. Quasi modi nemo nisi
          necessitatibus quibusdam consequuntur fugit ipsum mollitia, vitae fugiat quae ut dicta ipsa reiciendis non eum
          beatae neque porro molestias earum optio! Nesciunt fugit adipisci vitae corrupti! Vero dignissimos quos
          consequatur, blanditiis porro qui! Voluptates, alias! Officia neque fugiat praesentium laudantium illum.</p>
          <button type="button" id="go-bottom">let's Talk</button>
      </div>

    </div>
  </section>
    <div class="footer">
        <div class="row">
          <div class="col-sm-5 border-right">
            <div class="findUs">
              <h3 class="findus-word col-md-3">Find Us</h3>
              <dl class="findus-text">
                <dd>Located in the heart of Lahore, neighboring the buzzing Anarkali Bazar and the Mall Road, PUCIT is the
                  largest institution of higher learning in Pakistan in Computer Science.</dd>
                <dd>(042) 111 923 923</dd>
                <dd> +92300 7654567</dd>
                <dd>Email us at admissions@pucit.edu.pk</dd>
              </dl>
              <img class="mapImage" src="/static/Images/mapImage.png" alt="">
            </div>

          </div>
          <div class="col-sm-3 border-right">
            <div class="FollowUs">
              <h3 class="followus-word">Follow Us</h3>
              <h5 class="followus-text">Folow us on social media as well</h5>
            </div>
            <br>
            <div>
              <img class="socialImages" src="/static/Images/twitter.png" alt="">
              <img class="socialImages" src="/static/Images/whatsapp.png" alt="">
              <img class="socialImages" src="/static/Images/insta.png" alt="">
              <img class="socialImages" src="/static/Images/facebook.png" alt="">
            </div>
          </div>
          <div class="col-sm-3 broder-right">
            <div class="footer-online-text">
              <h3 class="onlineFood-word">OnlineFood</h3>
              <p>What makes an onlineFood high quality?
                A good Online Food setup sets a high standard for its food quality and ensures that guests receive the same
                quality
                with every meal. Serving quality food can earn your bussiness a good reputation and compel your guests to
                return for repeat visits.</p>
            </div>
          </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
    integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(document).ready(function (){
        $(document).on("click","#go-bottom",function (){
            $(document).scrollTop($(document).height());
        })
    })
</script>
</html>