<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/changePassword.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"
    integrity="sha512-Pa4Jto+LuCGBHy2/POQEbTh0reuoiEXQWXGn8S7aRlhcwpVkO8+4uoZVSOqUjdCsE+77oygfu2Tl+7qGHGIWsw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change your password </title>
</head>

<body>
    <div class="container-fluid"> 
        <div class="main">
            <div class="changePass"> 
                <form class="form-register" method="post">
                    <label class="name">Enter old password : </label>
                    <br>
                    <input type="password" name="old-pwd" id="old-pwd"  placeholder="Enter your old password">
                    <br><br>
                    <label class="password">Create new Password : </label>
                    <br>
                    <input type="password" name="new-pwd" id="new-pwd"  placeholder="Enter your new password">
                    <br><br>
                     
                    <button class="Submit-btn" value="Submit" name="submit" id="submit">Submit</button>
                    <br>
                </form>
                
            </div>
        </div>
    </div>
    <script>

        $(document).ready(function (){
            let oldPassword
            let newPassword
            var pass= {{ password|tojson }}
            $("#submit").on("click",function (e) {
                e.preventDefault();
                oldPassword = $("#old-pwd").val()
                newPassword = $("#new-pwd").val()
                if (oldPassword == pass) {
                    if (newPassword.length >= 8) {
                        $.ajax({
                            type: "POST",
                            url: "/api/updatePassword/" + newPassword,
                            async: false,
                            success: function (response) {
                                alert("Password Changed")
                            }
                        });
                    } else {
                        alert("Invalid new Password")
                    }

                }
                else{
                    alert("notin")
                }
                {#if(newPassword !="")#}
                {#{#}
                {#    $.ajax({#}
                {#    type: "GET",#}
                {#    url: "/api/changepassword",#}
                {#    async: false,#}
                {#    success:function (response){#}
                {#        if(response===oldPassword)#}
                {#        {#}
                {#            $.ajax({#}
                {#                type:"POST",#}
                {#                url: "/api/changepasswords/"+newPassword,#}
                {#                async: false,#}
                {#                success: function (response){#}
                {#                    alert("Password Changed")#}
                {#                }#}
                {#            });#}
                {#        }#}
                {#        else{#}
                {#            alert("Old password you entered is wrong")#}
                {#        }#}
                {#    }#}
                {# });#}
                // }
                {#else{#}
                {#    alert("Hello")#}
               // }

            })

        })

    </script>
</body>

</html>